/* Newspaper cutout style font for headers */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');